.contact-form-h1 {
    text-align: center;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 800;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-input,
.form-textarea {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.form-textarea {
    height: 150px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.form-button {
    font-size: 16px;
    padding: 12px;
    color: #fff;
    background-color: #3b3d3f;
    border: none;
    border-radius: 4px;
    transition: background-color 0.7s;
}

.form-button:hover {
    background-color: #7a7d7f;
}


.social-media {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

@media (min-width: 768px) {
    .contact-form-h1 {
        font-size: 40px;
        margin-top: 2.5em
    }
}

