#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-section h4 {
    color: #000000;
    margin-bottom: -10px;
    line-height: 4;
}

.footer-section p {
    margin-top: 13px;
}

.Footer-headline {
color:#000000

}

.footer-section svg {
    margin-top: 1px;
}

.footer-links a {
    color: #666666;
    font-size: 19px;
    display: block;
}

.footer-container {
    background-color: #E9E5E5;
    color: #000000;
    padding: 1px; 
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    font-size:medium;
    flex: 1;
    margin-bottom: 35px;
}

.footer-links, p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links .information-link {
    color: #666666;
    font-size: 19px;
    display: block;
    margin-top: 3px;
}

.footer-links li {
    margin-bottom: 3px;
}

.footer-bottom {
    font-size: 14px;
    margin-top: 2px;
}


@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
        font-size: 12px;
    } 

    .footer-section svg {
    width: 26px;
    height: 26px;
    }

    .footer-bottom {
        font-size: 11px;
        margin-top: 2px;
    }
}