
/* .menuButton {
    här kan jag lägga till styling för knappen
} */

.menuContainer {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #eeeeee;
    overflow: hidden;
    transition: right 0.7s;
}

.menuContainerOpen {
    right: 0;
}

.menuItem {
    display: block;
    color: #959292;
    padding: 16px;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #d9d4d4;
}