.menuButton {
    /* Lägg till styling för knappen här */
    background: none;
    border: none;
    padding: 8px;
}

.menuButton:hover {
    background-color: #f0f0f0;
}

.icon {
    width: 50px; 
    height: 50px;
}

.menuContainer {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    right: -100%;
    width: 160px;
    height: 100%;
    background-color: #eeeeee;
    overflow: hidden;
    transition: right 0.7s;
    z-index: 1000;
}

.menuContainerOpen {
    right: 0;
}

.menuItem {
    display: block;
    color: #959292;
    padding: 16px;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #d9d4d4;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .menuContainer {
        display: none; 
    }

    .hamburgerMenuContainer {
        display: none; 
    }
}