.home-title {
    text-align: center;
    margin: 0.5em auto -0.5em auto;
    color: black;
}

.shop-now-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.home-text {
    display: flex;
    text-align: center;
    margin-top: 0.1em;
    color: black;
}

.shop-now-button {
    display: inline-block;
    margin: 2em auto 0 auto;        /* Ändrad från 0.5em --> 2em */
    padding: 0.5rem 2rem;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color: black;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.homeSlidShow{
    margin-top: 4.5em;
}

/* ------ Tillagd ------- */

@media (max-width: 768px) {
    .homeSlidShow{
        margin-top: 0.5em;
    }

    .shop-now-button {
        margin-top: 45px;
        margin-bottom: -15px;
    }
}
/* --------------------------- */