* {
    margin: 0;
}

.navbar {
    background-color: #ffffffd7;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.navbar-text {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 26px; 
    color: black;
    padding: 5px 10px;
}

.navbar-text:hover {
    background-color: #f0f0f0; 
    border-radius: 15px;
}

.icon.icon-tabler.icon-tabler-shopping-cart{
    display: flex;
}

.navbar-item{
    display: none;
   
}
.navbar-cart{
    padding: 0;
    margin: 0;
}

.navbar-item:hover, .cart-container svg:hover{
    color: #939292;
    stroke: #939292;
}

@media (min-width: 768px) {
    .navbar-item, span.navbar-item,.navbar-cart {
        display: flex;
        font-size: 24px;
        padding: 5px 10px;
        align-items: center; 
        text-decoration: none;
        color: black;
        font-weight: 200;
    }

    .icon.icon-tabler.icon-tabler-shopping-cart {
        display: none;
    }
    .navbar {
        width: 100%;
        height: 3.5em;
        background-color: #ffffffd7;
        display: flex;
        justify-content: space-around;
        position: fixed;
        z-index: 1000;   
    }

    .testnav{
        width: 100%;
        height: 3.5em;
        display: flex;
        justify-content: space-around;
        position: fixed;
        
    }



}