* {
    margin: 0;
}

.navbar {
    background-color: #ffffffd7;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.navbar-text {
    /* text-decoration: none; */ /* ska den finnas ?? */
    display: flex;
    align-items: center;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 26px; 
    color: black;
    padding: 5px 10px;
}

.navbar-text:hover {
    background-color: #f0f0f0;  /* KOLLA DENNA */
    border-radius: 15px;
}


.navbar-item {
    display: none;
    align-items: center;
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.navbar-item:hover, .cart-container svg:hover{
    color: #767676;
    stroke: #767676;
}

@media (min-width: 768px) {
    .navbar-item {
        display: flex;
    }

    .icon.icon-tabler.icon-tabler-shopping-cart {
        display: none;
    }

}