button {
  
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.4em .5em;
  font-size: 1em;
  font-family: inherit;
  background-color: #e4e0e0d3;
  cursor: pointer;
  margin: 6px;
}
button:hover {
  border-color: #bbbbbc;
}


.my-button{

    font-weight: 200;
    width: 355px;
    margin: 0;
    padding-top:0 ;
    height: 39px;
    font-size: 1.5em;
    background-color: #eeeeee;
    border:none;
    border-radius: 3px;
    box-shadow: 4px 4px 9px grey;
    
}
.my-button:hover {
  background-color: #e4e0e0d3;
}

.card  {
 
    width: 233px;
    height: 34em;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-left:5.5em;
    margin-bottom: 2em;
    box-shadow: 4px 4px 9px grey;
    text-align : center;
    font-size: smaller;
    transition: .1s
  }

  .card:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  
  .categorycard{
    width: 355px;
    height: 250px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: .6em;
    box-shadow: 4px 4px 9px grey;
    text-align : center;
    margin-bottom: 6em;
  
  }

  .categorycardimg{
    width: 355px;
    height: 255px;
  }
  
  .category{
    display: inline;
    justify-content: center;
  }

  .pagetitle{
    display: flex;
    justify-content: center;
    margin: 1em;
    
  }

  .productpageimg{
    
    display: none;
  }

  @media screen and (min-width: 700px){
    .card{
      width: 315px;
      height: 460px;
      margin: 5em;
    }

    .productpageimg{
      display: block;
      width: 100%;
      height: 90%;
    }

    .shopimg{
      width: 315px;
      height: 340px;
    }

  }




  @media screen and (min-width: 700px){
    .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }

    
  }

  @media screen and (min-width: 700px){
    .pagetitle{
      
      font-size: 5em;
      margin: 0.3em;
      margin-bottom: 0.5em;
      width: 100%;

    }
  }



  @media screen and (min-width: 700px){
    .category{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
  }

  
  @media screen and (min-width: 700px){
    .categorycard{
      

      width: 400px;
      height: 300px;
      margin: 3em;
      
    }
    .categorycardimg{
      width: 400px;
      height: 300px;
    }
    .my-button{

      width: 400px;
      height: 39px;
      font-size: 1.5em;
     
      
  }
  .my-button:hover {
    background-color: #e4e0e0d3;
  }
  }
  
  .description{
    margin: 2.3em;
    
  }

