.cart-container {
    position: relative;
    margin-top: 100px;
}
.shopping-cart {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Linje runt hela kundvagnen */
    border-radius: 5px;
}

.cart-image-container {
    text-align: center;
}

/*.cartimg {*/
/*    width: 22.2em;*/
/*    height: 15.7em;*/
/*    margin-top: 0.5em;*/
/*    margin-bottom: 0.5em;*/
/*}*/


.shopping-cart h1 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center; /* Centrera h1 */
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid black; /* Linje runt varje produkt */
}

.item-name {
    font-weight: bold;
}

.item-price {
    margin-left: 10px;
}

.item-quantity {
    display: flex;
    gap: 10px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.checkout-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #3c3d3f;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #66686a;
}