.cart-container {
    position: relative;
    margin-top: 100px;
}
.shopping-cart {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Linje runt hela kundvagnen */
    border-radius: 5px;
}

.shopping-cart h1 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center; /* Centrera h1 */
    color: black;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid black; /* Linje runt varje produkt */
}

.item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    display: flex;
    font-weight: bold;
    margin: 0 18px 0 18px ;
    white-space: nowrap;
    min-width: 200px;
}

.item-quantity {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 50%
}

.item-quantity button {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-quantity button:hover {
    background-color: #66686a;
}

.item-price {
    flex-direction: column;
    font-size: 17px;
    color: black;
    min-width: 70px;
}

.remove-icon {
    cursor: pointer;
    font-size: 20px;
    color: #3C3D3F;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.checkout-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #3c3d3f;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #66686a;
}

.test-cart{
    margin-top: 6em;
}